# RF24Gateway -- .gitignore
#
# gitignore configuration for RF24Gateway project
#

## ignore object files ##
*.o
*.so
*.so.*

## ignore all of our built binaries ##
librf24gateway.so.1.0
examples/RF24GatewayNode
examples/addons/Sniffer/Sniffer
examples/gwNodeInt/RF24GatewayNodeInt
examples/ncurses/RF24Gateway_ncurses
examples/ncursesInt/RF24Gateway_ncursesInt
